<meta charset="utf-8">
<a href="/">Home</a>
<a href="about">About</a>
<a href="blog">Blog</a>
<body>
    <h1>About Me</h1>
    <h2>... and my new Astro site!</h2>
  
    <p>我在学Astro，我将试图以写几本Astro的书的方式来学习Astro。</p>
  
    <p> 2024年2月7日，临近春节</p>
  </body>